#### Wczytywanie danych

In [12]:
import numpy as np
import pandas as pd
import pandas_datareader

In [8]:
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [9]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2024-02-02 to 2019-02-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [10]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1192 entries, 2024-02-02 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1192 non-null   float64
 1   High    1192 non-null   float64
 2   Low     1192 non-null   float64
 3   Close   1192 non-null   float64
 4   Volume  1192 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 55.9 KB

In [11]:
apple.head()

               Open     High     Low   Close       Volume
Date
2024-02-02  179.860  187.330  179.25  185.85  102551680.0
2024-02-01  183.985  186.950  183.82  186.86   64885408.0
2024-01-31  187.040  187.095  184.35  184.40   55467803.0
2024-01-30  190.940  191.800  187.47  188.04   55859370.0
2024-01-29  192.010  192.200  189.58  191.73   47145622.0

### Preprocessing

In [20]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['apple_' + col.lower() for col in apple.columns]

In [22]:
apple.columns = ['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume']
apple

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2024-02-02    179.8600    187.3300   179.2500     185.8500  1.025517e+08
2024-02-01    183.9850    186.9500   183.8200     186.8600  6.488541e+07
2024-01-31    187.0400    187.0950   184.3500     184.4000  5.546780e+07
2024-01-30    190.9400    191.8000   187.4700     188.0400  5.585937e+07
2024-01-29    192.0100    192.2000   189.5800     191.7300  4.714562e+07
...                ...         ...        ...          ...           ...
2019-02-12     41.2202     41.4376    41.1246      41.4107  9.195574e+07
2019-02-11     41.4495     41.4875    41.0149      41.0568  8.663199e+07
2019-02-08     40.9501     41.3599    40.8105      41.2970  9.829607e+07
2019-02-07     41.5981     41.9730    41.1026      41.2472  1.315478e+08
2019-02-06     42.1375     42.3628    41.7098      42.0428  1.170340e+08

[1257 rows x 5 columns]

In [18]:
amazon.head()

            amazon_open  amazon_high  amazon_low  amazon_close  amazon_volume
Date
2024-02-02       169.19       172.50      167.33        171.81      117218313
2024-02-01       155.87       159.76      155.62        159.28       76542419
2024-01-31       157.00       159.01      154.81        155.20       50284371
2024-01-30       160.70       161.73      158.49        159.00       45207430
2024-01-29       159.34       161.29      158.90        161.26       45270385

In [19]:
google.head()

            google_open  google_high  google_low  google_close  google_volume
Date
2024-02-02       139.26       142.62     136.500        142.38       62499574
2024-02-01       142.12       143.06     140.790        141.16       40466549
2024-01-31       143.62       144.00     139.870        140.10       71910044
2024-01-30       152.80       153.62     151.185        151.46       36331833
2024-01-29       152.06       153.78     151.430        153.51       27784259

### Konkatenacja danych

In [23]:
pd.concat(objs=[apple, amazon, google, uber], axis=1)

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_amazon_open,amazon_amazon_high,amazon_amazon_low,amazon_amazon_close,amazon_amazon_volume,google_google_open,google_google_high,google_google_low,google_google_close,google_google_volume,apple_apple_apple_apple_apple_open,apple_apple_apple_apple_apple_high,apple_apple_apple_apple_apple_low,apple_apple_apple_apple_apple_close,apple_apple_apple_apple_apple_volume
Date,,,,,,,,,,,,,,,,,,,,
2019-02-06,42.1375,42.3628,41.7098,42.0428,1.170340e+08,83.5375,83.6130,81.6670,82.0130,78797660,57.4635,57.7000,55.9180,56.1445,48256400,NaN,NaN,NaN,NaN,NaN
2019-02-07,41.5981,41.9730,41.1026,41.2472,1.315478e+08,81.2500,81.2770,79.6455,80.7185,92531780,55.5910,55.5995,54.6795,55.2955,38297540,NaN,NaN,NaN,NaN,NaN
2019-02-08,40.9501,41.3599,40.8105,41.2970,9.829607e+07,79.3000,79.4295,78.3380,79.4110,113149140,54.7440,55.2550,54.7120,55.1190,21766540,NaN,NaN,NaN,NaN,NaN
2019-02-11,41.4495,41.4875,41.0149,41.0568,8.663199e+07,80.0490,80.4645,79.3000,79.5500,66346560,55.1875,55.6715,55.0000,55.1060,18497620,NaN,NaN,NaN,NaN,NaN
2019-02-12,41.2202,41.4376,41.1246,41.4107,9.195574e+07,80.2000,81.9700,79.9440,81.9005,97172080,55.5505,56.6430,55.5505,56.3790,35035420,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-29,192.0100,192.2000,189.5800,191.7300,4.714562e+07,159.3400,161.2900,158.9000,161.2600,45270385,152.0600,153.7800,151.4300,153.5100,27784259,65.60,67.10,65.560,66.98,15902036.0
2024-01-30,190.9400,191.8000,187.4700,188.0400,5.585937e+07,160.7000,161.7300,158.4900,159.0000,45207430,152.8000,153.6200,151.1850,151.4600,36331833,66.90,67.69,66.220,66.84,17562145.0
2024-01-31,187.0400,187.0950,184.3500,184.4000,5.546780e+07,157.0000,159.0100,154.8100,155.2000,50284371,143.6200,144.0000,139.8700,140.1000,71910044,65.70,66.25,64.845,65.27,17026414.0
2024-02-01,183.9850,186.9500,183.8200,186.8600,6.488541e+07,155.8700,159.7600,155.6200,159.2800,76542419,142.1200,143.0600,140.7900,141.1600,40466549,66.12,66.85,65.590,66.73,12504225.0
2024-02-02,179.8600,187.3300,179.2500,185.8500,1.025517e+08,169.1900,172.5000,167.3300,171.8100,117218313,139.2600,142.6200,136.5000,142.3800,62499574,66.98,68.25,66.510,68.07,18671765.0

In [24]:
amazon.columns = ['amazon_open', 'amazon_high', 'amazon_low', 'amazon_close', 'amazon_volume']
amazon
google.columns = ['google_open', 'google_high', 'google_low', 'google_close', 'google_volume']
google
uber.columns = ['uber_open', 'uber_high', 'uber_low', 'uber_close', 'uber_volume']
uber

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2024-02-02      66.98      68.25    66.510       68.07     18671765
2024-02-01      66.12      66.85    65.590       66.73     12504225
2024-01-31      65.70      66.25    64.845       65.27     17026414
2024-01-30      66.90      67.69    66.220       66.84     17562145
2024-01-29      65.60      67.10    65.560       66.98     15902036
...               ...        ...       ...         ...          ...
2019-05-16      41.48      44.06    41.250       43.00     38115524
2019-05-15      39.37      41.88    38.950       41.29     36086065
2019-05-14      38.31      39.96    36.850       39.96     46661147
2019-05-13      38.79      39.24    36.080       37.10     79442420
2019-05-10      42.00      45.00    41.060       41.57    186322536

[1192 rows x 5 columns]

In [29]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1) # concat łączy dane z różnych dataframe
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2019-02-06,42.1375,42.3628,41.7098,42.0428,1.170340e+08,83.5375,83.6130,81.6670,82.0130,78797660,57.4635,57.7000,55.9180,56.1445,48256400,NaN,NaN,NaN,NaN,NaN
2019-02-07,41.5981,41.9730,41.1026,41.2472,1.315478e+08,81.2500,81.2770,79.6455,80.7185,92531780,55.5910,55.5995,54.6795,55.2955,38297540,NaN,NaN,NaN,NaN,NaN
2019-02-08,40.9501,41.3599,40.8105,41.2970,9.829607e+07,79.3000,79.4295,78.3380,79.4110,113149140,54.7440,55.2550,54.7120,55.1190,21766540,NaN,NaN,NaN,NaN,NaN
2019-02-11,41.4495,41.4875,41.0149,41.0568,8.663199e+07,80.0490,80.4645,79.3000,79.5500,66346560,55.1875,55.6715,55.0000,55.1060,18497620,NaN,NaN,NaN,NaN,NaN
2019-02-12,41.2202,41.4376,41.1246,41.4107,9.195574e+07,80.2000,81.9700,79.9440,81.9005,97172080,55.5505,56.6430,55.5505,56.3790,35035420,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-29,192.0100,192.2000,189.5800,191.7300,4.714562e+07,159.3400,161.2900,158.9000,161.2600,45270385,152.0600,153.7800,151.4300,153.5100,27784259,65.60,67.10,65.560,66.98,15902036.0
2024-01-30,190.9400,191.8000,187.4700,188.0400,5.585937e+07,160.7000,161.7300,158.4900,159.0000,45207430,152.8000,153.6200,151.1850,151.4600,36331833,66.90,67.69,66.220,66.84,17562145.0
2024-01-31,187.0400,187.0950,184.3500,184.4000,5.546780e+07,157.0000,159.0100,154.8100,155.2000,50284371,143.6200,144.0000,139.8700,140.1000,71910044,65.70,66.25,64.845,65.27,17026414.0
2024-02-01,183.9850,186.9500,183.8200,186.8600,6.488541e+07,155.8700,159.7600,155.6200,159.2800,76542419,142.1200,143.0600,140.7900,141.1600,40466549,66.12,66.85,65.590,66.73,12504225.0
2024-02-02,179.8600,187.3300,179.2500,185.8500,1.025517e+08,169.1900,172.5000,167.3300,171.8100,117218313,139.2600,142.6200,136.5000,142.3800,62499574,66.98,68.25,66.510,68.07,18671765.0

In [28]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1192.000000,1192.000000,1192.000000,1192.000000,1.192000e+03
mean,124.821754,126.248812,123.506689,124.952078,1.011369e+08,129.040648,130.612470,127.374675,129.015459,7.435142e+07,99.793521,100.935225,98.727023,99.861098,3.354215e+07,38.833014,39.597682,38.051215,38.837592,2.526071e+07
std,46.236567,46.645934,45.836181,46.262598,5.298357e+07,30.846450,31.133445,30.486203,30.772240,3.247990e+07,29.704415,29.985136,29.396211,29.684817,1.493657e+07,10.328360,10.405644,10.245004,10.326269,1.862383e+07
min,40.950100,41.359900,40.810500,41.056800,2.404834e+07,79.300000,79.429500,78.338000,79.411000,1.762674e+07,52.224500,52.500000,50.443500,51.937000,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,78.222400,78.993100,77.717000,78.309100,6.687878e+07,96.666500,97.780000,95.380000,96.790000,5.270428e+07,71.577000,72.131500,70.950000,71.586500,2.414552e+07,30.947500,31.565000,30.256250,30.915000,1.583497e+07
50%,135.626000,137.949000,134.147000,135.766000,8.846159e+07,129.500000,131.000000,127.370000,129.040000,6.531114e+07,101.590000,102.880000,100.272000,101.430000,2.979356e+07,36.940000,37.590000,36.157500,36.995000,2.128660e+07
75%,161.530000,164.010000,159.555000,162.145000,1.181496e+08,158.400000,160.100000,156.365000,158.139000,8.677418e+07,127.663000,129.040000,126.154000,127.310000,3.752472e+07,45.470000,46.535000,44.852675,45.690000,2.950098e+07
max,198.020000,199.620000,197.000000,198.110000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,152.800000,153.780000,151.430000,153.510000,1.331771e+08,66.980000,68.250000,66.510000,68.070000,3.642612e+08

In [31]:
pd.set_option('display.float_format', lambda x: f'{x: .2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,124.82,46.24,40.95,78.22,135.63,161.53,198.02
apple_high,1257.00,126.25,46.65,41.36,78.99,137.95,164.01,199.62
apple_low,1257.00,123.51,45.84,40.81,77.72,134.15,159.56,197.00
apple_close,1257.00,124.95,46.26,41.06,78.31,135.77,162.15,198.11
apple_volume,1257.00,101136922.23,52983568.07,24048344.00,66878782.27,88461586.25,118149644.81,434708544.96
amazon_open,1257.00,129.04,30.85,79.30,96.67,129.50,158.40,187.20
amazon_high,1257.00,130.61,31.13,79.43,97.78,131.00,160.10,188.65
amazon_low,1257.00,127.37,30.49,78.34,95.38,127.37,156.37,184.84
amazon_close,1257.00,129.02,30.77,79.41,96.79,129.04,158.14,186.57
amazon_volume,1257.00,74351424.50,32479902.07,17626740.00,52704280.00,65311140.00,86774185.00,311345660.00
google_open,1257.00,99.79,29.70,52.22,71.58,101.59,127.66,152.80
google_high,1257.00,100.94,29.99,52.50,72.13,102.88,129.04,153.78
google_low,1257.00,98.73,29.40,50.44,70.95,100.27,126.15,151.43
google_close,1257.00,99.86,29.68,51.94,71.59,101.43,127.31,153.51
google_volume,1257.00,33542146.31,14936567.45,9312760.00,24145520.00,29793560.00,37524720.00,133177100.00
uber_open,1192.00,38.83,10.33,15.96,30.95,36.94,45.47,66.98
uber_high,1192.00,39.60,10.41,17.80,31.57,37.59,46.53,68.25
uber_low,1192.00,38.05,10.25,13.71,30.26,36.16,44.85,66.51
uber_close,1192.00,38.84,10.33,14.82,30.91,37.00,45.69,68.07
uber_volume,1192.00,25260705.73,18623834.22,3380003.00,15834971.50,21286596.50,29500978.00,364261230.00

In [32]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.48,0.54,0.55,0.54,0.54,-0.27,0.90,0.90,0.90,0.90,-0.08,0.28,0.28,0.28,0.28,0.06
apple_high,1.00,1.00,1.00,1.00,-0.47,0.54,0.55,0.54,0.54,-0.26,0.90,0.90,0.90,0.90,-0.08,0.27,0.27,0.28,0.28,0.07
apple_low,1.00,1.00,1.00,1.00,-0.49,0.54,0.55,0.54,0.54,-0.28,0.90,0.91,0.90,0.90,-0.09,0.28,0.28,0.29,0.29,0.06
apple_close,1.00,1.00,1.00,1.00,-0.48,0.54,0.55,0.54,0.54,-0.27,0.90,0.90,0.90,0.90,-0.08,0.28,0.28,0.28,0.28,0.06
apple_volume,-0.48,-0.47,-0.49,-0.48,1.00,-0.10,-0.10,-0.11,-0.11,0.60,-0.48,-0.48,-0.49,-0.49,0.45,-0.26,-0.26,-0.28,-0.27,0.20
amazon_open,0.54,0.54,0.54,0.54,-0.10,1.00,1.00,1.00,1.00,-0.09,0.66,0.66,0.66,0.66,-0.09,0.57,0.58,0.57,0.57,-0.02
amazon_high,0.55,0.55,0.55,0.55,-0.10,1.00,1.00,1.00,1.00,-0.07,0.66,0.66,0.67,0.66,-0.08,0.56,0.57,0.56,0.56,-0.02
amazon_low,0.54,0.54,0.54,0.54,-0.11,1.00,1.00,1.00,1.00,-0.10,0.66,0.66,0.66,0.66,-0.11,0.58,0.59,0.58,0.58,-0.03
amazon_close,0.54,0.54,0.54,0.54,-0.11,1.00,1.00,1.00,1.00,-0.09,0.66,0.66,0.66,0.66,-0.10,0.57,0.58,0.57,0.57,-0.02
amazon_volume,-0.27,-0.26,-0.28,-0.27,0.60,-0.09,-0.07,-0.10,-0.09,1.00,-0.30,-0.29,-0.31,-0.30,0.54,-0.25,-0.24,-0.27,-0.26,0.22
google_open,0.90,0.90,0.90,0.90,-0.48,0.66,0.66,0.66,0.66,-0.30,1.00,1.00,1.00,1.00,-0.14,0.39,0.39,0.39,0.39,0.05
google_high,0.90,0.90,0.91,0.90,-0.48,0.66,0.66,0.66,0.66,-0.29,1.00,1.00,1.00,1.00,-0.13,0.38,0.38,0.39,0.38,0.06
google_low,0.90,0.90,0.90,0.90,-0.49,0.66,0.67,0.66,0.66,-0.31,1.00,1.00,1.00,1.00,-0.15,0.39,0.39,0.40,0.39,0.05
google_close,0.90,0.90,0.90,0.90,-0.49,0.66,0.66,0.66,0.66,-0.30,1.00,1.00,1.00,1.00,-0.14,0.39,0.39,0.39,0.39,0.05
google_volume,-0.08,-0.08,-0.09,-0.08,0.45,-0.09,-0.08,-0.11,-0.10,0.54,-0.14,-0.13,-0.15,-0.14,1.00,-0.18,-0.17,-0.19,-0.18,0.24
uber_open,0.28,0.27,0.28,0.28,-0.26,0.57,0.56,0.58,0.57,-0.25,0.39,0.38,0.39,0.39,-0.18,1.00,1.00,1.00,1.00,-0.12
uber_high,0.28,0.27,0.28,0.28,-0.26,0.58,0.57,0.59,0.58,-0.24,0.39,0.38,0.39,0.39,-0.17,1.00,1.00,1.00,1.00,-0.10
uber_low,0.28,0.28,0.29,0.28,-0.28,0.57,0.56,0.58,0.57,-0.27,0.39,0.39,0.40,0.39,-0.19,1.00,1.00,1.00,1.00,-0.14
uber_close,0.28,0.28,0.29,0.28,-0.27,0.57,0.56,0.58,0.57,-0.26,0.39,0.38,0.39,0.39,-0.18,1.00,1.00,1.00,1.00,-0.12
uber_volume,0.06,0.07,0.06,0.06,0.20,-0.02,-0.02,-0.03,-0.02,0.22,0.05,0.06,0.05,0.05,0.24,-0.12,-0.10,-0.14,-0.12,1.00

In [33]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [38]:
df_close = pd.concat(objs=[apple.apple_close, amazon.amazon_close, google.google_close, uber.uber_close], axis=1)
df_close.corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.54          0.90        0.28
amazon_close         0.54          1.00          0.66        0.57
google_close         0.90          0.66          1.00        0.39
uber_close           0.28          0.57          0.39        1.00

In [39]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [41]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.54          0.90        0.28
amazon_close         0.54          1.00          0.66        0.57
google_close         0.90          0.66          1.00        0.39
uber_close           0.28          0.57          0.39        1.00

In [42]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [43]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.48,0.54,-0.27,0.90,-0.08,0.28,0.06
apple_volume,-0.48,1.00,-0.11,0.60,-0.49,0.45,-0.27,0.20
amazon_close,0.54,-0.11,1.00,-0.09,0.66,-0.10,0.57,-0.02
amazon_volume,-0.27,0.60,-0.09,1.00,-0.30,0.54,-0.26,0.22
google_close,0.90,-0.49,0.66,-0.30,1.00,-0.14,0.39,0.05
google_volume,-0.08,0.45,-0.10,0.54,-0.14,1.00,-0.18,0.24
uber_close,0.28,-0.27,0.57,-0.26,0.39,-0.18,1.00,-0.12
uber_volume,0.06,0.20,-0.02,0.22,0.05,0.24,-0.12,1.00

### Metoda append

In [44]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2024-02-02      66.98      68.25     66.51       68.07     18671765
2024-02-01      66.12      66.85     65.59       66.73     12504225
2024-01-31      65.70      66.25     64.84       65.27     17026414
2024-01-30      66.90      67.69     66.22       66.84     17562145
2024-01-29      65.60      67.10     65.56       66.98     15902036

In [49]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[106 rows x 5 columns]

In [54]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-07-31      48.85      49.49     48.15       49.46     38736789
2023-07-28      47.14      48.43     46.71       48.14     17154631
2023-07-27      48.00      48.09     46.35       46.61     17991953
2023-07-26      47.05      47.55     46.62       47.31     16666161
2023-07-25      47.20      47.73     46.93       47.17     14188200
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[105 rows x 5 columns]

In [58]:
uber_6_7 = pd.concat([uber_6,uber_7]) # usunięto metodę "append". Teraz używamy 'concat' w ten sposób
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[211 rows x 5 columns]